<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Team List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body class="bg-light">

<main class="container py-5">
    <!-- Header & Action -->
    <div class="d-flex justify-content-between align-items-center mb-4 flex-wrap">
        <h2 class="fw-bold text-primary mb-2 mb-sm-0">Team List</h2>
        <a th:href="@{/teams/add}" class="btn btn-outline-primary w-30 rounded shadow-sm d-block">
            + Register New Team
        </a>
    </div>

    <!-- Team List -->
    <div class="card shadow-lg border-0 rounded-4">
        <div class="card-body p-4">

            <!-- Table -->
            <div>
                <div class="table-responsive">
                    <table class="table table-hover align-middle text-center">
                        <thead class="table-primary">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Creation Date</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="team : ${teams}">
                            <td th:text="${team.teamId}"></td>
                            <td th:text="${team.name}"></td>
                            <td th:text="${team.createdDate}"></td>
                            <td>
                                <a th:href="@{'/teams/' + ${team.teamId} + '/edit'}" class="btn btn-secondary btn-sm rounded px-3">Edit</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <!-- Back to home button at bottom right -->
                    <div class="d-flex justify-content-end mt-3">
                        <a th:href="@{/}" class="btn btn-warning btn-sm rounded">
                            Back to Home
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
